{% extends 'base.html' %}
{% load static %}
{% load carts_tags %}



{% block content %}
    <!-- Контент -->
        <div class="container">
            <div class="row mt-1">
                <div class="col-lg-2">
                    <!-- Порожній блок на Ваш розсуд -->
                </div>
                <div class="col-lg-10">
                    <!-- Контент на сторінці -->
                    <div class="row">
                        <div class="container mt-5">
                            <div class="row">
                                <!-- Профіль з даними користувача -->
                                <div class="col-md-5">
                                    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                                        <h3 class="text-center mb-4">Профіль користувача</h3>

                                        <form action="{% url 'my_user:profile' %}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <div class="row">
                                                <div class="col-md-12 mb-3 text-center">

                                                    {% if user.image %}
                                                        <img src="{{ user.image.url }}"
                                                            alt="Аватар користувача" class="img-fluid rounded-circle"
                                                            style="max-width: 150px;">
                                                    {% else %}
                                                        <img src="{% static 'deps/images/baseavatar.jpg' %}"
                                                            alt="Аватар користувача" class="img-fluid rounded-circle"
                                                            style="max-width: 150px;">
                                                    {% endif %}

                                                    <input type="file" class="form-control mt-3" id="id_avatar"
                                                           name="image"
                                                           accept="image/*">
                                                    {% if form.image.errors %}
                                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.image.errors }}</div>
                                                    {% endif %}

                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <label for="id_first_name" class="form-label">Ім'я*</label>
                                                    <input type="text" class="form-control" id="id_first_name"
                                                           name="first_name"
                                                           value="{{ form.first_name.value }}"
                                                        placeholder="Введіть ваше ім'я"  required>
                                                    {% if form.first_name.errors %}
                                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <label for="id_last_name" class="form-label">Прізвище*</label>
                                                    <input type="text" class="form-control" id="id_last_name"
                                                           name="last_name"
                                                           value="{{ form.last_name.value }}"
                                                        placeholder="Введіть ваше прізвище"  required>
                                                    {% if form.last_name.errors %}
                                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
                                                    {% endif %}
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="id_username" class="form-label">Ім'я користувача*</label>
                                                    <input type="text" class="form-control" id="id_username"
                                                           name="username"
                                                           value="{{ form.username.value }}"
                                                        placeholder="Введіть ваше ім'я користувача"  required>
                                                    {% if form.username.errors %}
                                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                                                    {% endif %}
                                                </div>

                                                <div class="col-md-12 mb-3">
                                                    <label for="id_email" class="form-label">Email*</label>
                                                    <input type="email" class="form-control" id="id_email"
                                                           name="email"
                                                           value="{{ form.email.value }}"
                                                        placeholder="Введіть email *youremail@example.com"  required>
                                                    {% if form.email.errors %}
                                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                                                    {% endif %}
                                                </div>

                                            </div>
                                            <button type="submit" class="btn btn-dark">Зберегти</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- Кошик -->
                                {% user_carts request as carts %}
                                <div class="col-md-7">
                                    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                                        <h3 class="text-center mb-4">Кошик</h3>
                                        <div class="container" id="cart-items-container">
                                            <!-- Розмітка кошика -->
                                                 {% include "carts/includes/included_cart.html" %}
                                            <!-- Закінчилась розмітка кошика -->
                                        </div>
                                        <a class="btn btn-dark" href="../orders/create_order.html">
                                            Оформити замовлення
                                        </a>
                                    </div>
                                </div>
                                <!-- Оформлені замовлення -->
                                <div class="col-md-12">
                                    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                                        <h3 class="text-center mb-4">Мої замовлення</h3>
                                        <!-- Розмітка замовлень -->
                                        <div class="container">
                                            <div class="accordion" id="accordionExample">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading1">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                                            Замовлення № 256 – 09 вересня 2025 9:04 | Статус:<strong class="mx-2"> В обробці</strong>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <table class="table table-dark table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Товар</th>
                                                                        <th>Кількість</th>
                                                                        <th>Ціна</th>
                                                                        <th>Загальна вартість</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><a class="text-white" href="#">Куртка Prada</a></td>
                                                                        <td>1</td>
                                                                        <td>2550.00 $</td>
                                                                        <td>2550.00 $</td>

                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div class="d-flex justify-content-between">
                                                                <p><strong>Разом:</strong></p>
                                                                <p><strong>2550.00 $</strong></p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading2">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                                            Замовлення № 248 - 01 серпня 2025 11:28 | Статус: <strong>Отримано</strong>
                                                        </button>
                                                    </h2>
                                                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <table class="table table-dark table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Товар</th>
                                                                        <th>Кількість</th>
                                                                        <th>Ціна</th>
                                                                        <th>Загальна вартість</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><a class="text-white" href="#">Жіночі топсайдери</a></td>
                                                                        <td>1</td>
                                                                        <td>300.00 $</td>
                                                                        <td>300.00 $</td>

                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Закінчилась розмітка замовлень -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

